Package: com.yourname.menuesp
Name: MenuESP
Version: 1.0
Architecture: iphoneos-arm
Description: ESP + Bypass Anti-Cheat
Maintainer: YourName
Author: YourName
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
